.vs/
bin/
cnf/
doc/
lib/*.pl
lib/plralias/**
lib/plrobjs/**
lib/world/shp/*.pl
log/
obj/
readme.vs/
src/*.o
src/.accepted
src/build_circlemud.com
auto*
ChangeLog
Circle.sln
Circle.vcxproj
Circle.vcxproj.filters
Circle.vcxproj.user
config.cache
config.log
config.status
configure
FAQ
macrun.pl
README
release_notes.3.1.txt
syslog.CRASH
vms_autorun.com