.vs/
ChangeLog
Circle.sln
Circle.vcxproj*
FAQ
README
auto*
bin/
cnf/
config*
doc/
log/
macrun.pl
obj/
readme.vs/
release_notes.3.1.txt
syslog.CRASH
vms_autorun.com
lib/*.pl
lib/plralias/**
lib/plrobjs/**
lib/world/shp/*.pl
src/.accepted
src/build_circlemud.com
src/*.o