.vs/
bin/
cnf/
doc/
lib/*.pl
lib/plralias/**
lib/plrobjs/**
lib/world/shp/*.pl
log/
obj/
src/*.o
src/.accepted
src/build_circlemud.com
auto*
ChangeLog
configure
FAQ
macrun.pl
README
release_notes.3.1.txt
syslog.CRASH
vms_autorun.com